*.egg-info
.coverage
.ipynb_checkpoints
.DS_Store
raw_data/
*.csv
**/__pycache__/
.env
.direnv/*
tovoice/data
tovoice/preprocessing/specs-to-embeddings/pre_trained_embedding_model.ckpt
tovoice/preprocessing/specs-to-embeddings/*.ipynb
tovoice/model/weights
